a(href=`${baseURL}/${member.id}/prev` title="Pr&eacute;c&eacute;dent&middot;e") &larr;
a(href=baseURL): img(src=`${baseURL}/88x31.png`, alt="students of n7")
a(href=`${baseURL}/${member.id}/next` title="Suivant&middot;e") &rarr;
